[Unit]
Description=%g's docker compose services

[Service]
WorkingDirectory=%h/repos/compose.services
Type=simple
Restart=always
RestartSec=10
ExecStart=docker compose up --remove-orphans
ExecReload=docker compose up --wait --detach --remove-orphans
ExecStop=docker compose stop
SuccessExitStatus=130
Environment="HOME=%h" "OWNER=%g"

[Install]
WantedBy=multi-user.target
