[Unit]
Description=igor's docker services

[Service]
WorkingDirectory=/home/igor47/repos/igor.services
Type=simple
Restart=always
RestartSec=10
ExecStart=docker compose up --remove-orphans
ExecReload=docker compose up --wait --detach --remove-orphans
ExecStop=docker compose stop
SuccessExitStatus=130
Environment="COMPOSE_PROFILES=%H"

[Install]
WantedBy=multi-user.target
