[Unit]
Description=igor47.dc

[Service]
WorkingDirectory=/home/igor47/repos/igor.services
Restart=always
RestartSec=2s

# Shutdown container (if running) when unit is started
ExecStartPre=docker compose -f docker-compose.yml down
# Start container when unit is started
ExecStart=docker compose -f docker-compose.yml up
# Stop container when unit is stopped
ExecStop=which docker compose -f docker-compose.yml down

[Install]
WantedBy=default.target
