BASE_URL=https://analytics.igor.moomers.org
SECRET_KEY_BASE=$DCSM{PL_SECRET_KEY}
DATABASE_URL=$DCSM{PL_DB_URL}
CLICKHOUSE_DATABASE_URL=http://plausible.events.igor:8123/plausible_events_db
SMTP_HOST_ADDR=172.23.1.1
