DATABASE_URL=postgres://$DCSM{MINIFLUX_PG_USER}:$DCSM{MINIFLUX_PG_PASS}@postgres.igor/$DCSM{MINIFLUX_PG_DB}?sslmode=disable
RUN_MIGRATIONS=1
CREATE_ADMIN=1
ADMIN_USERNAME=igor47
ADMIN_PASSWORD=sunshine
BASE_URL=https://miniflux.igor.moomers.org/
