{
    auto_https off
        servers :8080 {
            protocols h1
        }
}

http://igor.moomers.org:8080 http://igor47.moomers.org:8080 http://igor.monksofcool.org:8080 http://igor47.monksofcool.org:8080 {
    root * /www/htdocs

    route {
        file_server /photos/*
        file_server /pics/*
        file_server /bm/*
        file_server /warpzone/*
        file_server /public/*
        file_server /random/*
        file_server /.well-known

        reverse_proxy blog.igor:3000 {
            header_up Host {upstream_hostport}
        }
    }
}

http://igor47.com:8080 {
    redir https://www.igor47.com{uri} permanent
}

http://www.igor47.com:8080 {
    reverse_proxy blog.igor:3000 {
        header_up Host {upstream_hostport}
    }
}
